#Port Switcher
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"


#MySQL
	set mysql_connection_string "server=127.0.0.1;database=gtarp;userid=root;password=;"

#vMenu
	set vMenuToggleMenuKey 288
	exec permissions.cfg

#FiveM
	start mapmanager
	start chat
	start spawnmanager
	start sessionmanager
	restart sessionmanager
	start fivem
	start hardcap
	start rconlog
	start wk_wrs

#Scripts
	start ui
	start commands
	start controls
	start loadingscreen
	start realism
	start lightingsystem
	#start vMenu

	start mysql-async
	start police

	start admincar
	start admincar
	#start admincar1
	start training
	start areaofplay
	start coolman
	start CarCleanUp
	start died
	start hospital
	start Jail
	#start LockDoors
	start NoDispatch
	start NoDriveBy
	#start Ragdoll
	start RealisticHandle
	start saw
	start CarCleanUp
	start admincarcoleman
	start BCSO
	start policebscocars

#Assets
	start assets1 #sheriff
	start assets2 #chp
	start assets3 #fire/ems
	start assets4 #civilian
	start assets5 #other

#Options
	sv_scriptHookAllowed 1
	sets tags "sanfran, san francisco, roleplay"
	#sets banner_detail "http://url.to/image.png"
	#sets banner_connecting "http://url.to/image.png"

	sv_hostname "San Fransico RP | Public | Hiring Cop/Fire/EMS | Serious RP | Custom Vehicles/Scripts"
	load_server_icon logo.png
	sv_authMaxVariance 1
	sv_authMinTrust 5
	add_ace group.admin command allow # allow all commands
	add_ace group.admin command.quit deny # but don't allow quit
	add_principal identifier.steam:110000112345678 group.admin # add the admin to the group
	sv_endpointprivacy true
	sv_maxclients 32
	sv_licenseKey gek3hgdq1ppwzn8zpb1v22wkrphd8y71