#Port Switcher
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

#vMenu
	set vMenuToggleMenuKey 288
	exec permissions.cfg

#FiveM
	start mapmanager
	start chat
	start spawnmanager
	start sessionmanager
	restart sessionmanager
	start fivem
	start hardcap
	start rconlog

#Scripts
	start pNotify
	start hud
	start spawn
	start ui
	start commands
	start realism
	start loadingscreen
	start lightingsystem
	start vMenu

#Assets
	start assets0 #maps
	start assets1 #sheriff
	start assets2 #SASP
	start assets3 #fire/ems
	start assets4 #civilian
	start assets5 #other

#Options
	sv_scriptHookAllowed 0
	sets tags "blueline, blgn, roleplay"
	#sets banner_detail "http://url.to/image.png"
	#sets banner_connecting "http://url.to/image.png"

	sv_hostname "Blueline Gaming Network | New Server | Custom MDT | Custom Vehicles/Scripts | Hiring Cops/Fire/EMS | Active Staff | Serious RP | bluelinegaming.net"
	load_server_icon logo.png
	sv_authMaxVariance 1
	sv_authMinTrust 5
	add_ace group.admin command allow # allow all commands
	add_ace group.admin command.quit deny # but don't allow quit
	add_principal identifier.steam:110000112345678 group.admin # add the admin to the group
	sv_endpointprivacy true
	sv_maxclients 32
	sv_licenseKey gek3hgdq1ppwzn8zpb1v22wkrphd8y71